<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <form action="/">
        <input id="input" name="input">
        <button id="button" type="submit" value="search">Submit</button>
    </form>
    <div class="row">
        {{#each resp.articles}}
        <div class="col-6">
            <p class="headline">{{title}}</p>
        </div>
        <div class="col-2 imageo">
            <img class="image" src={{urlToImage}}>
        </div>
        <div class="col-1">
            <a href={{url}}>[VIEW]</a>
        </div>
        <div class="col-1">
            <button class="btn">ClICK</button>
        </div>
        <br>
        {{/each}}
    </div>
    <script src="clint.js"></script>
</body>
</html>