@media(min-width:576px)
{
    .all{
        text-align: justify;
        display:block;
        height:140px;
        width:100%;
        min-width:412px;
    }
    .headline{
        left:140px;
        display:inline;
    }
    .image{

        height:140px;
    }
    .button{
        display:inline;
    }
}
@media(max-width:576px)
{
    .all{
        display:block;
    }
    .image{
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:140px;
        width:50%;
    }
    .headline{
        display:block;
        text-align: center;
    }
    .button{
        display:block;
        text-align: center;
    }
}