.image{
    display:inline;
}
.fra{
    height:50vh;
    width:10vw;
}
.headline{
    display:inline;
}
.button{
    display:inline;
}

@media(max-width:576px)
{
    .image{
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:140px;
        width:50%;
    }
    .headline{
        display:block;
        text-align: center;
    }
    .button{
        display:block;
        text-align: center;
    }
    .fra{
        height:50vh;
        width:10vw;
    }
}