.image{
    height:10vh;
    width:10vw;
}

.headline{
    display:inline;
}

.frame{
    display:none;
}

.class2{
    font-size: 50px;
}
@media(max-width:576px)
{
    .image{
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:140px;
        width:50%;
    }
    .headline{
        display:block;
        text-align: center;
    }
    .button{
        display:block;
        text-align: center;
    }
}